
@tailwind base;
@tailwind components;
@tailwind utilities;

/* the whole page css */
body {
	background-color: darkslategrey;
	font-family: sans-serif;
}


::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right bottom, #2b9561, #D5D56CFF);
}
::-webkit-scrollbar {
	width: 6px;
	height: 0;
}
